body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
  }

  .container-fluid {
    background-color: #343a40;
    color: white;
    padding: 50px 20px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .table thead {
    background-color: #6c757d;
    color: white;
  }

  .table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .table tbody tr:hover {
    background-color: #e9ecef;
  }

  .btn-custom {
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    padding: 8px 15px;
    transition: background-color 0.3s ease;
  }

  .btn-custom:hover {
    background-color: #218838;
  }

  .btn-danger-custom {
    background-color: #dc3545;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    padding: 8px 15px;
    transition: background-color 0.3s ease;
  }

  .btn-danger-custom:hover {
    background-color: #c82333;
  }

  .modal-header {
    background-color: #343a40;
    color: white;
  }

  .modal-footer .btn-outline-danger {
    border-color: #dc3545;
    color: #dc3545;
  }

  .modal-footer .btn-outline-danger:hover {
    background-color: #dc3545;
    color: white;
  }

  .modal-content {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .modal-body input {
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }

  .search-box {
    margin-bottom: 20px;
  }